body {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Home */
.home {
  background-image: url("assets/background-home.png");
  background-size: cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 58px 0 70px 0;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.nav-brand {
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-right: 85px;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu a {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.nav-menu a:hover {
  font-weight: 600;
  color: #fff;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-right .login {
  display: inline-block;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
}

.nav-right .login:hover {
  text-decoration: underline;
}

.nav-right .register {
  display: inline-block;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  color: #0d082c;
  padding: 8px 20px;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 6px;
  text-decoration: none;
}

/* Hero */
.content {
  display: flex;
  align-items: center;
  padding-bottom: 113px;
}

.content-left h1 {
  font-family: "Source Serif Pro";
  font-size: 56px;
  font-weight: 600;
  line-height: 70px;
  color: #fff;
  margin: 0;
  width: 90%;
}

.content-left p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0 0 0;
  width: 80%;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.button-content .get-started {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 35px;
  color: #fff;
  background: #0d082c;
  border-radius: 100px;
  text-decoration: none;
}

.button-content .see-in-action {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 15px 35px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 100px;
  text-decoration: none;
}

.button-content .see-in-action a {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

/* Support */
.support {
  padding: 100px 0;
}

.support .heading {
  font-family: "Merriweather";
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: #0d082c;
  width: 60%;
  margin: 0 auto;
}

.support .subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: rgba(13, 8, 44, 0.6);
  width: 50%;
  margin: 10px auto;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  color: #0d082c;
  margin: 15px 0;
}

.card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(13, 8, 44, 0.6);
  margin: 0;
}

/* Booking */
.booking {
  background-image: url("assets/background-booking.png");
  background-size: cover;
}

.booking-content {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.booking-content-left .heading {
  font-family: "Merriweather";
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  color: #0d082c;
  margin: 0;
}

.booking-content-left .subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(13, 8, 44, 0.6);
  margin: 10px 0 40px 0;
}

.booking-content-left a {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  padding: 15px 35px;
  background: #0d082c;
  border-radius: 100px;
  text-decoration: none;
}

.booking-subcontent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.subcontent h3 {
  font-size: 16px;
  font-weight: 600;
  color: #0d082c;
  margin: 0;
}

.subcontent p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(13, 8, 44, 0.6);
  margin: 0;
}

/* Pricing */
.pricing-content {
  margin: 100px 0;
}

.pricing-content .heading {
  font-family: "Merriweather";
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.pricing-content .subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: rgba(13, 8, 44, 0.6);
  margin: 10px auto 40px auto;
  width: 50%;
}
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.price-card {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-bottom: 30px;
}

.price-card .title {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 15px 10px;
  margin: 0;
  border-radius: 8px 8px 0px 0px;
}

.price-card .title.blue {
  background: #4635f3;
}

.price-card .title.orange {
  background: #f5ac76;
}

.price-card .title.pink {
  background: #ff5391;
}

.price-card .heading {
  font-family: "DM Sans";
  font-size: 32px;
  font-weight: 700;
  padding: 40px 30px 20px 30px;
  text-align: center;
  color: #000;
}

.price-card hr {
  color: rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 300px;
  margin: 0 auto;
}

.price-card .choose-button {
  display: inline-block;
  margin: 0 30px;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 10px 124px;
  border-radius: 6px;
  text-decoration: none;
}

.price-card .choose-button.blue {
  background: #4635f3;
}

.price-card .choose-button.orange {
  background: #f5ac76;
}

.price-card .choose-button.pink {
  background: #ff5391;
}

.description-list {
  padding: 20px 20px;
}

.description {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.description p {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  color: rgba(13, 8, 44, 0.6);
  margin: 0 0 0 10px;
}

/* Contact */
.contact {
  padding-top: 60px;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.contact-teks .header {
  font-family: "Merriweather";
  font-size: 24px;
  font-weight: 700;
  color: #0d082c;
  margin: 0;
}

.contact-teks .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(13, 8, 44, 0.6);
  width: 742px;
  margin: 10px 0 0 0;
}

.contact-button a {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 15px 35px;
  background: #0d082c;
  border-radius: 100px;
  text-decoration: none;
}

.contact-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px 0 20px 0;
}

.contact-links .link h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: rgba(13, 8, 44, 0.6);
  margin: 0 0 20px 0;
}

.contact-links .link p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(13, 8, 44, 0.8);
  margin: 0 0 8px 0;
}

.copyright {
  padding: 20px 0 30px 0;
}

.copyright p {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgba(13, 8, 44, 0.4);
  text-align: center;
  margin: 0;
}

/* Media Queries */

/* Tablet */
@media (max-width: 780px) {
  .container {
    padding: 0 20px;
  }

  .nav-menu {
    display: none;
  }

  .content {
    display: block;
  }

  .content-left h1 {
    width: 100%;
    font-size: 48px;
  }

  .content-left p {
    width: 90%;
  }

  .content .content-right {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .content .content-right img {
    width: 80%;
  }

  .support .container .heading {
    width: 100%;
  }
  .support .container .subheading {
    width: 80%;
  }
  .support .container .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .booking-content {
    display: block;
  }
  .booking-content-left .subheading {
    width: 75%;
  }
  .booking-content-right {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .booking-content-right img {
    width: 75%;
  }

  .pricing-content .subheading {
    width: 75%;
  }
  .pricing-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 500px) {
  .pricing-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
